<!-- FileName: Header
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/
    Description: My header file that gets called in every view -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widt, initial-scale=1.0" />
    <title>Alex Friesen Portfolio</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest   jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>

    <!-- Latest compiled and minified   JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">

</head>

<body>
    <!-- Navbar that will be on top of every page -->
    <nav class="navbar navbar-inverse navbar-top">
        <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <h1 class="navbar-brand">Alex Friesen Portfolio</h1>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li role="separator" class="divider"></li>
            <% if (displayName) { %>
                <% if(title=="Users" ) { %>
                    <li class="active">
                        <% } else { %>
                            <li>
                                <% } %>
                                    <a href="/users">Users</a>
                            </li>
                            <li class="navbar-text">Hello,
                                <%=d isplayName %>
                            </li>
                            <li><a href="/aboutMe">About Me</a>
                            </li>
                            <li><a href="/projects">Projects</a>
                            </li>
                            <li><a href="/services">Services</a>
                            </li>
                            <li><a href="/credentials">Credentials</a>
                            </li>
                            <li><a href="/contactMe">Contact Me</a>
                            </li>
                            <% if(title=="Todo List" ) { %>
                                <li class="active">
                                    <% } else { %>
                                        <li>
                                            <% } %>
                                                <a href="/todoList">Todo List</a>
                                        </li>
                                        <li><a href="/logout">Logout</a>
                                        </li>
                                        <% } else { %>
                                            <% if(title=="Register" ) { %>
                                                <li class="active">
                                                    <% } else { %>
                                                  <li>
                                                            <% } %>
                                                                <a href="/register">Register</a>
                                                  </li>
                                                        <% if(title=="Login" ) { %>
                                                  <li class="active" />
                                                                <% } else { %>
                                                  <li>
                                                                        <% } %>
                                                                            <a href="/login">Login</a>
                                                  </li>
                                                                    <% } %>
        </ul>
        <!-- </div> -->
    </nav>
    <!-- the containers job will be to auto margin the left and right -->
    <div class="container">