<!-- FileName: footer
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/
    Description: My footer that gets called in every view-->
</div>
</body>
 <!-- have the footer on the bottom of the page no matter the size of the content -->
  <footer class="footer navbar-fixed-bottom">
    <p>Made By: Alex Sascha Friesen</p>
  </footer>

</html>