<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widt, initial-scale=1.0" />
    <title>Alex Friesen Portfolio</title>
    <link rel="stylesheet" href="./public/stylesheets/style.css">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest   jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>

    <!-- Latest compiled and minified   JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="navbar-brand">My Portfolio</h1>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li><a href="/aboutMe">About Me</a>
                    </li>
                    <li><a href="/projects">Projects</a>
                    </li>
                    <li><a href="/services">Services</a>
                    </li>
                    <li><a href="/credentials">Credentials</a>
                    </li>
                    <li><a href="/contactMe">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">