<!-- FileName: ContactMe 
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/contactMe
    Descriotion: Contact Me page  -->
<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Lets get in contact. A form will be created for you to email me with your inquires</p>

<%- include partials/footer.ejs %>
