<%- include partials/header.ejs %>

	<h1 style=" padding-top:70px; margin-top: 50px;"><%= title %></h1>
	<p>Welcome to my <%= title %> page</p>
	<p>This Website was made as part of my first assignment for my Advanced Web class.</p>
	<p>On This website you will have the ability to see multiple things about me, gain a little more knowledg of who I am, what I am able to do. As well as a a look at my resume and credentials that I have earned. If any of these things interest you and you would like to see me you can go to my contact me page and I will respond as soon as I get the email. Also any critique is welcome in the contact Me form.</p>

<%- include partials/footer.ejs %>