<!-- FileName: services
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/services
    Descriotion: On this page I will display any projects completed or in the making -->
<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>I will try to update this page regularly on the projects that I have finished and and the projects I am working on right now. Due to the fact that I have currently only done projects in school there is nothing that I have done on my own. However ideas are on their way to be created. Stay tuned.</p>

<%- include partials/footer.ejs %>
