<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Here I will try to update this page regularly on the projects that I have commited and and the projects I am working on right now.</p>

<%- include partials/footer.ejs %>
