<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Do to the fact that I am fairly new into the field of Programming I have not provided a lot of services, however if needed I am able to do coding involving languages like Java, C# and python. When it comes to web you can see that I am fairly familiar with HTML, JavaScript, CSS, PHP and bootstrap. I am however in the process of creating a website for my families business. Also creating a website for the church I attend has been an idea I want to bring to light. There have also been a couple other ideas that I have in mind but nothing has been put into action yet.</p>

<%- include partials/footer.ejs %>
