<!-- FileName: AboutME 
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/aboutMe
    Description: Thepage describing me and my life -->
<% include partials/header.ejs %>
<!-- call the header file, use the title that was stored in the routes page -->
        <h1><%= title %></h1>
        <p>My legal name is Sascha Alex Friesen, but I just go by Alex. I was born in Germany and moved to Canada when I was just 10 years old. One can say that living in a family with 10 kids has never gotten to boring, but sometimes it is a little too much. Georgian College was not my first post-secondary school that I attended. Coming out of high school with an honours diploma I wanted to step in my older sibling’s foot prints. So I applied to University of Toronto in UTSC and got accepted. Spending a year in that environment I came to a conclusion that university is something that I am not ready for and decide to take a leave until I came to a proper decision. I couldn’t just stay at home and do nothing, so I decided to apply for colleges like my sister suggested, and sure enough I got accepted into Georgian College for the Computer Programmer Analyst program. Being in my second year now I believe that this was the right decision to make and I am happy to have met the faculty and students here at Georgian. I have learned a lot of new languages and was able to really improve my knowledge of languages that I already knew. Not only did my knowledge of computer languages get better, but my knowledge of the business world and logic with computers has improved immensely. Whether I will attend UTSC again and get my degree in Computer science all depends on where life brings me after I get my diploma from Georgian. And quoting the words of a wise man "tomorrow will have its own worries".</p>
<% include partials/boot.ejs %>        
<% include partials/footer.ejs %>