<!-- FileName: credentials 
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/credentials
    Description: My credentials page. For resume and awards, certificates, diploma and degrees -->
<% include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Here will be my resume that you can download and have a look at in a pdf format. I will also make avaliable all the certificates that I have earned throughout my years.</p>
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
