<!-- FileName: error
    Name: Alex Friesen 
    Website name: http://myportfolio-alexf.azurewebsites.net/
    Descriotion: Your classic error Page -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<p>Please contact the creator for this website and you will get a response asap</p>
